@model Sistem.Core.Entities.Yer
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div>
    @Model.Id
</div>
<div>
    @Model.Level
</div>
<div>
    @Model.Title
</div>
<div>
    @Model.ParentId
</div>

