@model YerListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h3>Bunlar Sistemdeki Yerler olacak. Aradığın içerikleri bu yerlere yerleştireceksin.</h3>

<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Level</th>
        <th>Title</th>
        <th>Parent</th>
    </tr>
    @foreach (var yer in Model.Yers)
    {
        <tr>
            <td>@yer.Id</td>
            <td>@yer.Level</td>
            <td>@yer.Title</td>
            <td>@yer.ParentId</td>
        </tr>

    }
</table>

