
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h1>Manager Alanına Hoşgeldin.</h1>

<div class="text-center">
    <h1 class="display-4">Welcome you are in the sistem Manager Area now.</h1>
    <p>Learn about <a href="/admin/home/index">Admin</a>.</p>
    <p>Learn about <a href="/manager/home/index">Manager</a>.</p>
    <p>Learn about <a href="/member/home/index">Member</a>.</p>
    <p>Learn about <a href="/guest/home/index">Guest</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">in the Member Area You able to do: .</h1>
    <p>Learn about <a href="/Video/index">Video watch</a>.</p>
    <p>Learn about <a href="/Resim/index">Picture see</a>.</p>
    <p>Learn about <a href="/Makale/index">Assay read</a>.</p>
    <p>Learn about <a href="/Topluluk/index">Topluluk look</a>.</p>
    <p>Learn about <a href="/Topluluk/Create">Topluluk create</a>.</p>
    <p>Learn about <a href="/Topluluk/Update">Topluluk update</a>.</p>
    <p>Learn about <a href="/Etkinlik/index">Etkinlik Join</a>.</p>
    <p>Learn about <a href="/Etkinlik/Create">Etkinlik create</a>.</p>
    <p>Learn about <a href="/Etkinlik/Update">Etkinlik update</a>.</p>
</div>

