@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!<br /> You are in the sistem now.</h1>
        <p>Learn about <a href="/admin/home/index">Admin</a>.</p>
        <p>Learn about <a href="/manager/home/index">Manager</a>.</p>
        <p>Learn about <a href="/member/home/index">Member</a>.</p>
        <p>Learn about <a href="/guest/home/index">Guest</a>.</p>
    </div>
