
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h1>Guest Alanına Hoşgeldin.</h1>

<div class="text-center">
    <h1 class="display-4">Welcome you are in the sistem Guest Area now.</h1>
    <p>Learn about <a href="/admin/home/index">Admin</a>.</p>
    <p>Learn about <a href="/manager/home/index">Manager</a>.</p>
    <p>Learn about <a href="/member/home/index">Member</a>.</p>
    <p>Learn about <a href="/guest/home/index">Guest</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">in the Guest Area You able to do: .</h1>
    <p>Learn about <a href="/Video/index">Video watch</a>.</p>
    <p>Learn about <a href="/Resim/index">Picture see</a>.</p>
    <p>Learn about <a href="/Makale/index">Assay read</a>.</p>
    <p>Learn about <a href="/home/index">Guest</a>.</p>
</div>

