
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h1>Admin Alanına Hoşgeldin.</h1>

<div class="text-center">
    <h1 class="d-block display-4">Welcome you are in the sistem Admin Area now.</h1>
    <p>* <a href="/admin/home/index">Admin</a>.</p>
    <p>* <a href="/manager/home/index">Manager</a>.</p>
    <p>* <a href="/member/home/index">Member</a>.</p>
    <p>* <a href="/guest/home/index">Guest</a>.</p>
</div>
<div class="row text-center">
    <h1 class="col-12 display-4">in the Admin Area You able to do: .</h1><br />
    <div class="col">
        <p>* <a href="/Video/index">Video watch</a>.</p>
        <p>* <a href="/Video/Create">Video create</a>.</p>
        <p>* <a href="/Video/Update">Video update</a>.</p>
        <p>* <a href="/Video/Delete">Video delete</a>.</p>
    </div>
    <div class="col" id="Resim">
        <p>* <a href="/Resim/index">Picture see</a>.</p>
        <p>* <a href="/Resim/Create">Resim create</a>.</p>
        <p>* <a href="/Resim/Update">Resim update</a>.</p>
        <p>* <a href="/Resim/Delete">Resim delete</a>.</p>

    </div>
    <div class="col" id="makale">
        <p>* <a href="/Makale/index">Makale see</a>.</p>
        <p>* <a href="/Makale/Create">Makale create</a>.</p>
        <p>* <a href="/Makale/Update">Makale update</a>.</p>
        <p>* <a href="/Makale/Delete">Makale delete</a>.</p>

    </div>
    <div class="col" id="Topluluk">
        <p>* <a href="/Topluluk/index">Topluluk look</a>.</p>
        <p>* <a href="/Topluluk/Create">Topluluk create</a>.</p>
        <p>* <a href="/Topluluk/Update">Topluluk update</a>.</p>
        <p>* <a href="/Topluluk/Delete">Topluluk delete</a>.</p>

    </div>
    <div class="col" id="Etkinlik">
        <p>* <a href="/Etkinlik/index">Etkinlik Join</a>.</p>
        <p>* <a href="/Etkinlik/Create">Etkinlik create</a>.</p>
        <p>* <a href="/Etkinlik/Update">Etkinlik update</a>.</p>
        <p>* <a href="/Etkinlik/Delete">Etkinlik delete</a>.</p>

    </div>
</div>
<div class="row text-center">
    <h1 class="col-12 display-4">in the Admin Area You are authorize to do: .</h1><br />
    <ul class="col" id="yer">
        <li class="btn-group-vertical">
            <a class="btn btn-info" href="/admin/Yer/index">Yer izleme</a>
            <a class="btn btn-primary" href="/admin/Yer/Create">Yer create</a>
            <a class="btn btn-warning" href="/admin/Yer/Update">Yer update</a>
            <a class="btn btn-danger" href="/admin/Yer/Delete">Yer delete</a>
        </li>
    </ul>
    <ul class="col" id="user">
        <li class="btn-group-vertical">
            <a class="btn btn-info" href="/admin/user/index">user izleme</a>
            <a class="btn btn-primary" href="/admin/user/Create">user create</a>
            <a class="btn btn-warning" href="/admin/user/Update">user update</a>
            <a class="btn btn-danger" href="/admin/user/Delete">user delete</a>
        </li>
    </ul>
    <ul class="col" id="zaman">
        <li class="btn-group-vertical">
            <a class="btn btn-info" href="/admin/zaman/index">zaman izleme</a>
            <a class="btn btn-primary" href="/admin/zaman/Create">zaman create</a>
            <a class="btn btn-warning" href="/admin/zaman/Update">zaman update</a>
            <a class="btn btn-danger" href="/admin/zaman/Delete">zaman delete</a>
        </li>
    </ul>
</div>

